@import "tailwindcss";

@theme {
    --color-primary-50: oklch(0.98 0.0142 148.78);
    --color-primary-100: oklch(0.96 0.0375 148.92);
    --color-primary-200: oklch(0.91 0.0696 148.1);
    --color-primary-300: oklch(0.84 0.1223 147.84);
    --color-primary-400: oklch(0.76 0.1671 146.41);
    --color-primary-500: oklch(0.67 0.1791 145.45);
    --color-primary-600: oklch(0.58 0.1591 145.3);
    --color-primary-700: oklch(0.49 0.1277 145.59);
    --color-primary-800: oklch(0.42 0.1007 146.34);
    --color-primary-900: oklch(0.37 0.083 147.07);
    --color-primary-950: oklch(0.25 0.0587 147.33);

    --color-secondary-50: oklch(0.97 0.0124 337.52);
    --color-secondary-100: oklch(0.95 0.0267 337.06);
    --color-secondary-200: oklch(0.9 0.0576 337.02);
    --color-secondary-300: oklch(0.83 0.1054 339.45);
    --color-secondary-400: oklch(0.73 0.1673 342.13);
    --color-secondary-500: oklch(0.66 0.2031 345.74);
    --color-secondary-600: oklch(0.58 0.2089 351);
    --color-secondary-700: oklch(0.52 0.1929 353.73);
    --color-secondary-800: oklch(0.46 0.1639 354.07);
    --color-secondary-900: oklch(0.41 0.1378 352.89);
    --color-secondary-950: oklch(0.28 0.1006 353.97);
}

@theme inline {
    --color-primary: var(--color-primary-600);
    --color-secondary: var(--color-secondary-600);
}

@custom-variant dark (&:where(
  [data-theme="dark"], /* Apply when element has data-theme="dark" */
  [data-theme="dark"] *, /* Apply to children of data-theme="dark" */
  :root:not([data-theme="light"]) [data-theme="dark"] * /* Apply to dark elements in any context */
):not(
  [data-theme="light"], /* Don't apply to light-themed elements */
  [data-theme="light"] * /* Don't apply to children of light-themed elements */
));

@layer base {
    @import "swiper/css";

    html {
        background: var(--color-stone-50);
        color: var(--color-neutral-800);

        @variant dark {
            background: var(--color-neutral-900);
            color: var(--color-stone-50);
        }
    }

    h1 {
        font-size: var(--text-5xl);
        margin: --spacing(3) 0 --spacing(5);
    }

    h2 {
        font-size: var(--text-4xl);
        margin: --spacing(2) 0 --spacing(4);
    }

    h3 {
        font-size: var(--text-3xl);
        margin: --spacing(1) 0 --spacing(3);
    }

    h4 {
        font-size: var(--text-xl);
        margin: --spacing(1) 0 --spacing(2);
    }

    h5 {
        font-size: var(--text-lg);
        margin: --spacing(0.5) 0 --spacing(1);
    }

    /* First heading has less top margin when it follows another heading */
    h1 + h2,
    h1 + h3,
    h1 + h4,
    h1 + h5,
    h2 + h3,
    h2 + h4,
    h2 + h5,
    h3 + h4,
    h3 + h5,
    h4 + h5 {
        margin-top: --spacing(1);
    }

    p {
        font-size: var(--text-lg);
        margin-top: --spacing(3);

        /* First paragraph after a heading gets a small margin */
        h1 + &,
        h2 + &,
        h3 + &,
        h4 + &,
        h5 + & {
            margin-top: --spacing(2);
        }

        &:not(:last-of-type) {
            margin-bottom: --spacing(4);
        }
    }

    .container {
        @apply mx-auto;
    }

    .gallery-main-swiper .swiper-slide {
        @apply opacity-50 transition duration-500;
    }

    .gallery-main-swiper .swiper-slide-active {
        @apply opacity-100;
    }

    .gallery-thumbs-swiper {
        & .swiper-slide:not(.swiper-slide-thumb-active) {
            @apply opacity-50 hover:opacity-80;
        }

        & .swiper-slide-thumb-active {
            @apply opacity-100;
        }
    }
}
